* {
  margin: 10px;
  box-sizing: border-box;
  background-color: slategrey;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: whitesmoke ;
  font-size: 40px ;

}


h1{
  
  font-size: 80px;
  display: block;
  margin-left: 37%;
}
#image {
  border: 1px solid skyblue;
  border-radius: 4px;
  padding: 5px;
  width: 150px;
  
  
}


.itemList {
  
  display: flex;
  flex-direction: column;
background-color: gray;
border-radius: 3px;
box-shadow: 1px, 1px, 1px, skyblue; 
}

#button {
   background-color: skyblue; 
  color: gray;
  
}
